body {
  background: rgb(127,208,127);
  background: linear-gradient(110deg, rgba(127,208,127,1) 0%, rgba(144,238,144,1) 25%, rgba(144,238,144,1) 100%);
  font-family: Georgia, "Times New Roman", serif;
  font-size: 150%;
}

.content {
  padding: 5vmin;
  margin: 5vmin;
  background-color: white;
  max-width: 800px;
}

.bullet-link {
  min-height: 48px;
}
