body {
  background: rgb(72,115,72);
  background: linear-gradient(119deg, rgba(72,115,72,1) 0%, rgba(144,238,144,1) 100%);
  font-family: Georgia, "Times New Roman", serif;
  font-size: 150%;
}

.content {
  padding: 5vmin;
  margin: 5vmin;
  background-color: white;
  max-width: 800px;
}

.bullet-link {
  min-height: 48px;
}
